* {
    padding: 0;
    margin: 0;
}
a {
text-decoration: none;
}
header {
    overflow-x: hidden;
}
.myheader {
    box-sizing: content-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
body {
    overflow-x: hidden;
}
.dammy {
    margin-left: 120px;
    color: grey;
}
.samson {
    padding-left: 15px;
    margin-top: 15px;
    box-sizing: content-box;
    width: 100%;
}
.acquire {
    margin-top: 30px;
    font-size: 20px;
    margin-right: 5px;
    color: grey;
}
.jnr {
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 50px;
    font-size: 30px;
    font-family: verdana;
}
button {
    margin-top: 25px;
    padding: 12px 105px;
    background-color: black;
    color: #fff;
    border-radius: 10px;
}
img {
    height: 250px;
}
@media only screen and (min-width: 500px) {
    
}