* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  overflow-x: hidden;
}
.myheader {
  box-sizing: content-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.dammy {
  margin-left: 120px;
  color: grey;
}
.samson {
  overflow-x: hidden;
  padding-left: 15px;
  margin-top: 15px;
  box-sizing: content-box;
  width: 100%;
}
.acquire {
  margin-top: 30px;
  font-size: 20px;
  margin-right: 5px;
  color: grey;
}
.jnr {
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 50px;
  font-size: 30px;
  font-family: verdana;
}
button {
  margin-top: 25px;
  padding: 12px 105px;
  background-color: black;
  color: #fff;
  border-radius: 10px;
}
.none {
  display: none;
}
.done {
  display: flex;
  height: 250px;
}
@media only screen and (min-width: 600px) {
  .done {
    display: none;
  }
  .acquire {
    font-size: 70px;
  }
  header {
    overflow-x: hidden;
  }
  .img {
    display: flex;
    height: 1200px;
  }
div {
    display: flex;
}
 .dammy{
    margin-left: 4000px;
}
p {
    font-size: 100px;
}
button {
  font-size: 60px;
  padding: 15px 95px;
  margin-top: 130px;
}
.none {
  display: flex;
  height: 70vh;
  float: right;
  margin-top: -600px;
}
}
